<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>welcome</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class = "container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
          </li>
          <img src="https://img.icons8.com/dusk/64/000000/new.png" width="30" height="30" alt=""> 
          <li class="nav-item active">
           
            <a class="nav-link" href="/main">Create Item <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" id="username" > <%= name %> </a>
        <a type="button" class="btn btn-outline-danger" href="/logout">Logout</a>

      </form>
    </nav>
    <br>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload image</label>
        <input type="file" class="form-control-file" id="fileInput" name="filetoupload" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Upload image</button>
      </div>
    </form>

    <form action="/create" method="POST" >
        <div class="form-group">
          <!-- <label for="exampleFormControlFile1">Upload image</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
            <br>
        <input type="hidden" class="form-control" name="username" value="<%= name %>" required>
        <input type="hidden" class="form-control" id="image" name="image" required>

        

          <div class="form-group">
            <label for="exampleInputProduct">Product name</label>
            <input type="text" class="form-control" name="name" placeholder="Product name" required>
          </div>

          <div class="form-group">
            <label for="exampleInputProduct">Product description</label>
            <input type="text" class="form-control" name="description" placeholder="Product description" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPrice">Price</label>
            <input type="number" class="form-control" name="price" placeholder="Price" required>
          </div>

          <div class="form-group">
            <label for="exampleInputLocation">Location</label>
            <input type="text" class="form-control" name="location" placeholder="Location" required>
          </div>


          <div class="form-group">
            <label for="exampleInputPhone">Phone Number</label>
            <input type="tel" pattern="[0-9]{8}" class="form-control" name="phone" placeholder="Phone Number" required>
          </div>

          <button type="submit" class="btn btn-outline-success">Submit</button>

        </div>
        
      </form>
    



  </div>
  </body>
  <script src="/static/js/create_item.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>