<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>welcome</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class = "container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/main">Home <span class="sr-only">(current)</span></a>
          </li>
          <img src="https://img.icons8.com/dusk/64/000000/new.png" width="30" height="30" alt=""> 
          <li class="nav-item active">
           
            <a class="nav-link" href="/create_item">Create Item <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" > <%= name %> </a>
        <a type="button" class="btn btn-outline-danger" href="/logout">Logout</a>

      </form>
    </nav>
    <br>
    <div class="row">

      <div class="col-md-8">
        <img src="./static/image/<%= product_image %>" width="750" height="500">
      </div>
  
      <div class="col-md-4">
        <h2 id="title" class="my-3"><%= product_name %></h2>
        <br>
        <h5 class="my-3">Product Description</h5>
        <p><%= description %></p>
        <h5 class="my-3">Product Details</h5>
        <ul>
          <li>Price: $<%= price %></li>
          <li>Trading place: <%= location %></li>
          <li>Contact number: <%= phone %></li>
          
        </ul>
        <div id="created_by">Created By: <%= created_by %></div>
        
        <div id="UpdateAndDelete">

        </div>
      </div>
     </div>
     <!-- <%= product_id %> -->
    <!-- <br>
    <%= created_by %>
    <br>
    <%= product_image %>
    <br>
    <%= product_name %>
    <br>
    <%= description %>
    <br>
    <%= price %>
    <br>
    <%= location %>
    <br>
    <%= phone %> -->


    <div id="alluser_comment">

    </div>
    <div class="footer">
      <table border="0">
        <tr>
          <td width="90%"><input type="text" class="form-control" name="comment" id="user_comment" placeholder="Comment" required/> 
            <input type="hidden" class="form-control" id="product_id" value="<%= product_id %>" required>
            <input type="hidden" class="form-control" id="username" value="<%= name %>" required>
          </td>
          <td><button type="button" class="btn btn-success" id="comment">Add Comment</button></td>
        </tr>
      </table>
      
    </div>
  </div>
  
<script>
var username = "<%= name %>";
var create = "<%= created_by %>";
if (username == create){
  $("#UpdateAndDelete").append(
    // '<div>' +
    // '<button type="button" class="btn btn-outline-warning">Update</button>' +
    // '<div action="/delete_item" method="POST">' +
    // '<button type="submit" class="btn btn-outline-danger">Delete</button>' +
    // '</div>' +
    // '</div>'
    '<table border="0">' + 
    '<tr>' +
      '<td>' + '<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="update">Modify</button>' + '</td>' +
      '<td>' + 
      '<input type="hidden" value="<%= product_id %>"' + ' id = "item_id" >' +
      '<button type="submit" class="btn btn-outline-danger" id="delete">Delete</button>' + 
      '</td>' +
    '</tr>'+
    '</table>' +

    '<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">' +
  '<div class="modal-dialog modal-dialog-centered" role="document">' +
    '<div class="modal-content">' +
      '<div class="modal-header">' +
        '<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>' +
        '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
          '<span aria-hidden="true">&times;</span>' +
        '</button>' +
      '</div>' +
      '<form action="/update_item" method="POST">' +
      '<div class="modal-body">' +
        '<div>' +
      
        '<input type="hidden" class="form-control" name="item_id" placeholder="item_id" value="<%= product_id %>" required>' +
        '<div class="form-group">' +
            '<label for="exampleInputProduct">Product description</label>' +
            '<input type="text" class="form-control" name="description" placeholder="Product description" required>' +
          '</div>' +

          '<div class="form-group">' +
            '<label for="exampleInputPrice">Price</label>' +
            '<input type="number" class="form-control" name="price" placeholder="Price" required>' +
          '</div>' +

          '<div class="form-group">' +
            '<label for="exampleInputLocation">Location</label>' +
            '<input type="text" class="form-control" name="location" placeholder="Location" required>' +
          '</div>' +


          '<div class="form-group">' +
            '<label for="exampleInputPhone">Phone Number</label>' +
            '<input type="tel" pattern="[0-9]{8}" class="form-control" name="phone" placeholder="Phone Number" required>' +
          '</div>' +


        '</div>' +
        
      
      '</div>' +
      '<div class="modal-footer">' +
        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>' +
        '<button type="submit" class="btn btn-primary">Save changes</button>' +  
      '</div>' +
      '</form>' +
    '</div>' +
  '</div>' +
'</div>' +
'</div>'
    // '<div class="panel">' +
    //   '<br>' +
    //   '<div>' +
    //   '<form action="/update_item" method="POST">' +
    //     '<input type="hidden" class="form-control" name="item_id" placeholder="item_id" value="<%= product_id %>" required>' +
    //     '<div class="form-group">' +
    //         '<label for="exampleInputProduct">Product description</label>' +
    //         '<input type="text" class="form-control" name="description" placeholder="Product description" required>' +
    //       '</div>' +

    //       '<div class="form-group">' +
    //         '<label for="exampleInputPrice">Price</label>' +
    //         '<input type="number" class="form-control" name="price" placeholder="Price" required>' +
    //       '</div>' +

    //       '<div class="form-group">' +
    //         '<label for="exampleInputLocation">Location</label>' +
    //         '<input type="text" class="form-control" name="location" placeholder="Location" required>' +
    //       '</div>' +


    //       '<div class="form-group">' +
    //         '<label for="exampleInputPhone">Phone Number</label>' +
    //         '<input type="tel" pattern="[0-9]{8}" class="form-control" name="phone" placeholder="Phone Number" required>' +
    //       '</div>' +

    //       '<button type="submit" class="btn btn-outline-success">Submit</button>' +

    //     '</div>' +
        
    //   '</form>' +
    //     '</div>' +
      


  )
}
// $(".panel").hide();
// $('#update').click(function(){
//   $(".panel").slideToggle();
// })


$("#delete").click(function(){
    var item_id = $("#item_id").val();
    $.ajax({
        url:'/delete_item',
        method:'POST',
        success:function(data){
          window.location.href = "http://localhost:3000/main";  
        },
        data: {
          item_id: item_id
        }
    });
})

  
</script>


  </body>



  </script>
  <script src="/static/js/detail.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</html>