#myInput{
  width: 100%;
  font-size: 16px;
  padding: 12px 0px 12px 0px;
  border: 1px solid rgb(36, 18, 201);
  margin-bottom: 12px;
  }
.flex-container {
padding: 0;
margin: 0;
list-style: none;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}

.flex-item {
background: white;
padding: 5px;
width: 450px;
height: 400px;
margin-top: 10px;
line-height: 30px;
color: black;
font-size: 20px;
text-align: center;
}
